.clear {
  clear: both;
}
body {
  overflow-y: scroll;
}
#github {
  margin: 28px 0 0 0px;
  padding: 9px 0px;
  width: 300px;
  text-align: center;
}
#follow-us {
  margin-top: 4px;
  padding-top: 2px;
  padding-left: 20px;
}
#follow-us:hover {
  background: #0064cd;
}
#follow-us img {
  position: relative;
  top: 2px;
  margin-left: 7px;
  padding-right: 0px;
}
div.mini-layout {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.13);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.13);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.13);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.13);
  box-shadow: 0 1px 3px rgba(0,0,0,0.13);
}
div.mini-layout div {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.lilli-thompsons-slides {
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
