@import "utils"

body
  overflow-y scroll

#github
  margin 28px 0 0 0px
  padding 9px 0px
  width 300px
  text-align center

#follow-us
  margin-top 4px
  padding-top 2px
  padding-left 20px
  &:hover
    background #0064CD
  img
    position relative
    top 2px
    margin-left 7px
    padding-right 0px


div.mini-layout {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.125);
}
div.mini-layout div {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

