.clear {
  clear: both;
}
#github {
  margin: 28px 0 0 0px;
  padding: 9px 0px;
  width: 300px;
  text-align: center;
}
div.mini-layout {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.13);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.13);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.13);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.13);
  box-shadow: 0 1px 3px rgba(0,0,0,0.13);
}
div.mini-layout div {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
