// Layout functions
.clear
  clear both

// Border Radius function
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

border-top-left-radius()
  -webkit-border-top-left-radius arguments
  -moz-border-top-left-radius arguments
  border-top-right-radius arguments

border-top-right-radius()
  -webkit-border-top-right-radius arguments
  -moz-border-top-right-radius arguments
  border-top-right-radius arguments
  
border-bottom-left-radius()
  -webkit-border-bottom-left-radius arguments
  -moz-border-bottom-left-radius arguments
  border-bottom-left-radius arguments
  
border-bottom-right-radius()
  -webkit-border-bottom-right-radius arguments
  -moz-border-bottom-right-radius arguments
  border-bottom-right-radius arguments
  
// Box Shadow 
box-shadow()
  -webkit-box-shadow arguments
  -moz-box-shadow: arguments
  box-shadow: arguments

center(width,height)
  .outer
    width 100%
    height height
    overflow hidden
    position relative
  .outer[id]
    display table
    position static
  .middle
    position absolute
    top 50%
    width 100%
    text-align center
  .middle[id]
    display table-cell
    vertical-align middle
    position static
  .inner
    position relative
    top -50%
    text-align left
    width width
    margin-left auto
    margin-right auto
