<h1><a href="/meetups/javascript-and-html5-games-kickoff-meeting">Javascript and HTML5 Games Kickoff Meeting.</a></br><small><a href=""http://www.meetup.com/gamesjs/events/27773901/"">Wednesday, August 17, 2011, 6:30 PM</a></small></h1>

<p>This is a recap of last week's <a href="http://www.meetup.com/gamesjs/events/27773901/">first meetup hosted at IGN's headquarters.</a></p>


<h2>Jack Lawson (Crafty.js).</h2>

<p>Crafty.js is a javascript game engine that provides a flexible, easily extensible framework for game development. We'll walk through a couple examples and look at some good resources for trying it out.</p>

<p>To Control the slides click to set the keyboard focus and then use left/right arrows to change slides. On iOS use gestures.</p>

<iframe width="940" height="678" src="/presentations/craftyjs/slides.html"></iframe>

<h2>Ben Savage (Spaceport).</h2>

<p>Spaceport is a javascript/hybrid game engine that provides cross platform support from the web to iOS (both iPhone and iPad),Symbian and Android. It's specialty is performance, performance performance with an easy flash like API. Ben will talk briefly about some of the technical challenges they faced getting over that performance hump that has stumped so many in the HTML5/hybrid native and Javascript game engine space and show some game demos.</p>

<h3>Spaceport & Javascript: A Love Affair...</h3>

<iframe width="940" height="678" src="http://280slides.com/Viewer/?user=95775&name=JavaScript%20Group%20Presentation&fullscreen" style="border: 1px solid black; margin: 0; padding: 0;"></iframe>

<h3>Spaceport: A Technical Overivew.</h3>

<p>Ben gave a talk with the above slides but sent me the following slides as well. These slides are great and go into much more technical detail about how Spaceport works.</p>

<iframe width="940" height="678" src="http://280slides.com/Viewer/?user=95775&name=Spaceport%20-%20a%20technical%20overview&fullscreen" style="border: 1px solid black; margin: 0; padding: 0; margin-left: 0px;"></iframe>

<div style="height: 40px;"></div>

<h2>Lilli Thompson</h2>

<p>Aren't you tired of rewriting the same game code for multiple platforms? PlayN is an open source game library that allows developers to write and debug in Java via the Google Web Toolkit and simultaneously create WebGL / HTML5 canvas, Android, and Flash builds. Learn to use the framework to create new games or to port existing game code and libraries.</p>

<p>Lilli's slides couldn't be embedded well into the site so check them out here: <a href="http://html5-slides.appspot.com/slides/playN-8-17-2011/presentation.html#1">http://html5-slides.appspot.com/slides/playN-8-17-2011/presentation.html#1</a>
