<h1>About</h1>

<p>This is the accompanying website for the <a href="http://meetup.com/gamesjs/">GamesJS - Javascript and HTML5 Game and App Developers</a> meetup located in the San Francisco Bay Area.</p>

<h2>Organizers</h2>

<h3>Ann Burkett</h3>
<div class="row">
  <div class="span2 columns">
    <img src="/images/ann-meetup-avatar.jpeg" style="width: 96px; height: 96px; "/>
  </div>
  <div class="span14 columns">
    <p>Ann Burkett is a web and mobile game and application developer/designer and founder of a small dev company. She currently consults on mobile and web and facebook game and applications. Technologies include serverside javascript, Node.js, Redis, LAMP stack, Flash, Flex and Facebook API's. Ann is currently investigating javascript client and server side multiplayer technology. Clients include Quiz Monster, Crowdstar Affiliates, Crafted Fun, Zynga, the San Francisco Unified School System and new startups.</p>

    <h4>Other Current Roles:</h4>

    <p>Chair of the Silicon Valley Chapter of the International Game Developer's Association. The Silicon Valley IGDA actively promotes all aspects of game creation and has major venues where games and game tools get critical exposure. The SV IGDA is able to provide or point to resources and advice on game workshops, game company advisors, funding resources, publicity for you, your game or game tools or platforms The Silicon Valley IGDA is dedicated to helping game developers through advocacy, fun, & friendship.</p> 
    
    <p><a href="http://twitter.com/annburkett">@annburkett</a> | <a href="mailto:caughtthinking@gmail.com">caughtthinking@gmail.com</a></p>

  </div>


</div>


<h3>Dave Nugent</h3>
<div class="row">
  <div class="span2 columns">
    <img src="/images/dave-meetup-avatar.jpeg" style="width: 96px; height: 96px;"/>
  </div>
  <div class="span14 columns">
    <p>Board member <a href="http://twitter.com/DGMsv">@DGMsv</a>. Organizes #sfjs. Airborne meteor observer <a href="http://twitter.com/">@NASA</a>. #Drupal developer. Graduated <a href="http://twitter.com/CMU">@CMU</a>. Docent <a href="http://twitter.com/ComputerHistory">@ComputerHistory</a>.</p>
    
    <p><a href="http://twitter.com/drnugent">@drnugent</a> | <a href="mailto:drnugent@gmail.com">drnugent@gmail.com</a> | <a href="http://www.davetech.com">Blog</a></p>
  </div>
</div>



<h3>Francois Laberge</h3>
<div class="row">
  <div class="span2 columns">
    <img src="/images/francois-meetup-avatar.jpeg" style="width: 96px; height: 96px;"/>
  </div>
  <div class="span14 columns">
    <p>Francois Laberge is a web and games Developer. His professional specialties are User Experience, building Design Tools, and building Game Engines. He was the founder of <a href="http://emotely.com/">Emotely</a> and now is the Chief Innovation Officer at <a href="http://brassmonkeysdk.com">Brass Monkey</a>.</p>
    
    <p><a href="http://twitter.com/francoislaberge">@francoislaberge</a> | <a href="mailto:francoislaberge@gmail.com">francoislaberge@gmail.com</a> | <a href="http://francoislaberge.com">Blog</a></p>
  </div>
</div>




