<h1>Help Us Build The Website.</h1>

<div class="row">
  <div class="span6 columns">
    <h2>Contributing Code.</h2>
    <p>The Gamesjs.com code is hosted on github.com, if you'd like to help improve the site, fix bugs, and or contribute your demos/tutorials/talks please do submit a pull request. We'll do our best to process them as quick as we can. </p>
    <p>Please do reach out to us before going and doing a tonne of work as we want to make sure in alignment with vision for the website and group.</p>
    
    <a href="http://github.com/gamesjs/gamesjs.com" id="github" class="btn primary">Get The Website Source Code</a>
  </div>
  <div class="span10 columns">
    <div class="mini-layout">
      <a href="http://github.com/gamesjs/gamesjs.com"><img src="/images/gamesjs-on-github.png"/></a>
    </div>
    
  </div>
</div>

<div style="height: 100px"></div>

<div class="row">
  <div class="span6 columns">
    <h2>Libraries We Use.</h2>
    <p>Libraries are listed in order ranked by how low level they are. </p><p><strong>Example:</strong> Node.js is the foundation for Express, Stylus is built on Express, and etc.</p>
  </div>
  <div class="span10 columns">
    <table class="common-table zebra-striped">
  <thead>
    <tr>
      <th>Project</th>
      <th>Website</th>
      <th>Docs</th>
      <th>Repo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Node.js</td>
      <td><a href="http://nodejs.org">nodejs.org</a></td>
      <td><a href="https://github.com/joyent/node/wiki">Wiki</a> & <a href="http://expressjs.com/guide.html">Reference</a></td>
      <td><a href="https://github.com/joyent/node">joyent/node</a></td>
    </tr>
    <tr>
      <td>Express</td>
      <td><a href="http://expressjs.com">expressjs.com</a></td>
      <td><a href="http://expressjs.com/guide.html">Guide</a></td>
      <td><a href="https://github.com/visionmedia/express">visionmedia/express</a></td>
    </tr>
    <tr>
      <td>jQuery</td>
      <td><a href="http://jquery.com/">jquery.com</a></td>
      <td><a href="http://docs.jquery.com/Main_Page">Documentation</a></td>
      <td><a href="https://github.com/jquery/jquery">jquery/jquery</a></td>
    </tr>
    <tr>
      <td>Underscore</td>
      <td><a href="http://documentcloud.github.com/underscore/">Website</a></td>
      <td><a href="http://documentcloud.github.com/underscore/">Documentation</a></td>
      <td><a href="https://github.com/documentcloud/underscore/">documentcloud/underscore</a></td>
    </tr>
    <tr>
      <td>Backbone</td>
      <td><a href="http://documentcloud.github.com/backbone/">Website</a></td>
      <td><a href="http://documentcloud.github.com/backbone/">Documentation</a></td>
      <td><a href="https://github.com/documentcloud/backbone">documentcloud/backbone</a></td>
    </tr>
    <tr>
      <td>Gooey</td>
      <td><span>N/A</span></td>
      <td><span>N/A</span></td>
      <td><a href="github.com/francoislaberge/gooey">francoislaberge/gooey</a></td>
    </tr>
    <tr>
      <td>Stylus</td>
      <td><a href="http://learnboost.github.com/stylus/">learnboost.github.com/stylus/</a></td>
      <td><a href="http://learnboost.github.com/stylus/">Documentation</a></td>
      <td><a href="https://github.com/learnboost/stylus">learnboost/stylus</a></td>
    </tr>



    <tr>
      <td>Less</td>
      <td><a href="http://lesscss.org/">lesscss.org</a></td>
      <td><a href="http://lesscss.org/">Documentation</a></td>
      <td><a href="https://github.com/cloudhead/less.js">cloudhead/less.js</a></td>
    </tr>
    <tr>
      <td>Bootstrap</td>
      <td><a href="http://twitter.github.com/bootstrap/">twitter.github.com/bootstrap/</a></td>
      <td><a href="http://twitter.github.com/bootstrap/">Documentation</a></td>
      <td><a href="http://twitter.github.com/bootstrap/">twitter/bootstrap</a></td>
    </tr>
    
    
    
  </tbody>  
</table>
  </div>
</div>




