<h1><a href="/meetups/javascript-and-html5-games-kickoff-meeting">Javascript and HTML5 Games Kickoff Meeting.</a></br><small><a href="http://www.meetup.com/gamesjs/events/27773901/">Wednesday, August 17, 2011, 6:30 PM</a></small></h1>
